################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FeatureFlags/FeatureFlagsDemo/obj/Release/netcoreapp3.0
/ManagedIdendities/.vs/ManagedIdendities
/ManagedIdendities/SampleApp/bin
/ManagedIdendities/SampleApp/obj
/HealthCheck/HealthChecksDemo/obj/Release/netcoreapp3.0
/.vs
/ManagedIdendity/SampleApp/bin
/ManagedIdendity/.vs
/ManagedIdendity/SampleApp/obj
/ManagedIdentity/SampleApp/bin
/ManagedIdentity/SampleApp/obj
/ManagedIdentity/.vs
/SignalR/SignalRDemo/.vs/SignalRDemo
/SignalR/SignalRDemo/packages
/SignalR/SignalRDemo/SignalRClient/bin/Debug
/SignalR/SignalRDemo/SignalRClient/obj/Debug
/SignalR/SignalRDemo/SignalRPortal/obj